*{
    padding: 0;
    margin: 0;
}
body{
    background-color:rgb(199, 219, 219);
}
.menu
{
background:navy;
text-align:center;
/* position: relative; */
}
.menu ul
{
    display:inline-flex;
    list-style: none;
    color:navy;
}
.menu ul li
{
    width: 150px;
    margin: 8px;
    padding: 8px;
    border-radius:10px;
}
.menu ul li a
{
text-decoration: none;
color: white;
}
.act,.menu ul li:hover
{
background:orange
}

/* .loginn{
    background:green;
    text-align: center;
    margin-top: 20px;
    width: 800px;
    margin-left: 245px;
    border-radius: 5px;
} */
/* .loginn ul{
    list-style: none;
    display:inline-flex;
    color: red;
}
.loginn ul li{
width: 300px;
margin: 50px;
padding: 10px;
border-radius: 15px;
align-items: center;
} */
.reg{
    background: orangered;
    height: 30px;
    text-align: center;
    width: 150px;
    margin-top: 20px;
    border-radius: 5px;
}
.reg ul{
    list-style: none;
    display: inline-flex;
    color: orange;
}
.reg ul li{
width:150px;
margin-top: 5px;
}
.reg ul li a{
    text-decoration: none;
    color: #fff;
   font-weight: lighter;
}
.reg:hover{
    background: green;
    /* transition: 3s; */
}
.log{
    background: orangered;
    height: 30px;
    text-align: center;
    width: 180px;
    margin-top: 20px;
    border-radius: 5px;
}
.log ul{
    list-style: none;
    display: inline-flex;
    color: orange;
}
.log ul li{
width:180px;
margin-top: 5px;
}
.log ul li a{
    text-decoration: none;
    color: #fff;
   font-weight: lighter;
}
.log:hover{
    background: green;
    /* transition: 1s; */
}
.container{
    width:80%;
    display: block;
margin: auto;
padding-top: 100px;
}
.content-section
{
    float: left;
    width: 55%;
}
.imge{
    float: right;
    width: 40%;
}
.imge img{
    width: 250px;
    height: auto;
    border: 2px solid orangered;
    border-radius: 10px;
    margin-left: 150px;
    margin-top: 100px;
    /* box-shadow:15px 15px; */
}
.content-section .title{
text-transform: uppercase;
font-size: 15px;
color:navy;
/* margin-left: 200px; */
/* margin-top: 50px; */
}
/* .content-section .title:hover{ */
    /* color: orange;
    transition:2s; */
/* .content-section .content h3{
    margin-top:20px;
    color:orange;
    font-size: 16px;
} */
/* .content-section .content h3:hover{
color: navy;
transition: 2s;
} */
.content-section .content  p{
    margin-top: 20px;
    width:100%;
    margin-right:300px;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.content-section .content pre{
    margin-right: 200px;
    font-size: 15px;
    width:100%;
}
.content-section h3:hover{
    color: rgb(255, 8, 8);
}